.distance-legend {
    .floating-horizontal;
    height: inherit;
    width: inherit;
    box-sizing: border-box;
}

.distance-legend-label {
    display: inline-block;
    font-family: @default-font;
    color: yellow;
    text-align: center;
    font-size: .5rem;
    font-weight: bold;
    width: 100%;
}

.distance-legend-scale-bar {
    border-left: 1px solid @floating-text-color;
    border-right: 1px solid @floating-text-color;
    border-bottom: 1px solid @floating-text-color;
    position: absolute;
    height: 0.5rem;
    top: .75rem;
}

// @media print {
    // .distance-legend {
        // display: none;
    // }
// }

@media screen and (max-width: 700px) {
    .distance-legend {
        display: none;
    }
}
// Don't display the distance legend on small screens like mobile phones.
// @media screen and (max-width: 700px), screen and (max-height: 420px) {
    // .distance-legend {
        // display: none;
    // }
// }
