/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'ls' : (max-width: $--sm) and (orientation : landscape),
  'xs' : (max-width: $--sm) and (orientation : portrait),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

/* Font
 -------------------------- */
$--font-path: 'fonts' !default;
$--font-size: 0.5rem !default;
$--font-label-color: white !default;
$--font-content-color: yellow !default;
$--font-family: 'Roboto', sans-serif;
$--font-weight-primary: 500 !default;

/* Border
-------------------------- */
$--border-width-base: 2px !default;
$--border-style-base: solid !default;
$--border-color-base: rgba(20,62,141,0.7) !default;
$--border-radius-base: 4px !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;

/* Shadow
-------------------------- */
$--box-shadow-base: 2px 2px 7px rgba(39,39,39,0.95) !default;

/* Colors
-------------------------- */
$--color-primary: rgba(20, 62, 141, 0.7) !default;
$--color-text-primary: #fff !default;

/* Button
-------------------------- */
$--button-default-fill: $--color-primary;
$--button-default-border: $--border-color-base;
$--button-default-color: $--color-text-primary;
$--button-font-weight: $--font-weight-primary;

/* Loading
-------------------------- */
$--loading-content-xs-size: 10vh !default;
$--loading-content-sm-size: 12vh !default;
$--loading-content-md-size: 8vw !default;
$--loading-content-lg-size: 9vw !default;
$--loading-content-xl-size: 10vw !default;

$--loading-shadow-xs-width: 14vw !default;
$--loading-shadow-xs-height: 2.5vh !default;
$--loading-shadow-sm-width: 6vw !default;
$--loading-shadow-sm-height: 2.5vh !default;
$--loading-shadow-md-width: 6vw !default;
$--loading-shadow-md-height: 2.5vh !default;
$--loading-shadow-lg-width: 6vw !default;
$--loading-shadow-lg-height: 2.5vh !default;
$--loading-shadow-xl-width: 6vw !default;
$--loading-shadow-xl-height: 2.5vh !default;

/* Footer
-------------------------- */
$--footer-container-ls-width: 60vw !default;
$--footer-container-ls-height: 10vh !default;
$--footer-container-xs-width: 100vw !default;
$--footer-container-xs-height: 4vh !default;
$--footer-container-sm-width: 40vw !default;
$--footer-container-sm-height: 3vh !default;
$--footer-container-md-width: 50vw !default;
$--footer-container-md-height: 3vh !default;
$--footer-container-lg-width: 40vw !default;
$--footer-container-lg-height: 3vh !default;
$--footer-container-xl-width: 40vw !default;
$--footer-container-xl-height: 3vh !default;

/* BasicInformation
 -------------------------- */
 $--basicinfomation-container-size: 100% !default;
 $--basicinfomation-item-margin: 0.5vw !default;