/* Colors
-------------------------- */
$--color-primary: #409EFF !default;

/* Loading
-------------------------- */
$--loading-content-size: 68px !default;
$--loading-fullscreen-content-size: 100px !default;