@import "./mixins/mixins";
@import "common/var";

@include b(container) {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $--font-family;
}

@include b(content) {
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  overflow: inherit;
}
