@import "./mixins/mixins";
@import "common/var";

@include b(footer) {
  position: fixed;
  box-sizing: inherit;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, rgba(20,62,141,0.0), rgba(20,62,141,0.75));
  

  @include res(ls) {
    width: $--footer-container-ls-width;
    height: $--footer-container-ls-height;
    line-height: $--footer-container-ls-height;
  }

  @include res(xs) {
    width: $--footer-container-xs-width;
    height: $--footer-container-xs-height;
    line-height: $--footer-container-xs-height;
  }
  @include res(sm) {
    width: $--footer-container-sm-width;
    height: $--footer-container-sm-height;
    line-height: $--footer-container-sm-height;
  }
  @include res(md) {
    width: $--footer-container-md-width;
    height: $--footer-container-md-height;
    line-height: $--footer-container-md-height;
  }
  @include res(lg) {
    width: $--footer-container-lg-width;
    height: $--footer-container-lg-height;
    line-height: $--footer-container-lg-height;
  }
  @include res(xl) {
    width: $--footer-container-xl-width;
    height: $--footer-container-xl-height;
    line-height: $--footer-container-xl-height;
  }
}