@import "./mixins/mixins";
@import "common/var";

@include b(infobox) {
  box-sizing: border-box;
  display: none;
  position: absolute;
  bottom: 0;
  left: 2.5%;
  color: white;
  border: $--border-base; 
  box-shadow: $--box-shadow-base;
  border-radius: $--border-radius-base; 
  background:  rgba(20,62,141,0.4);
  
  @include res(ls) {
    width: $--infobox-container-ls-width;
    // bottom: $--footer-container-ls-height;
    bottom: $--footer-container-ls-height + ((100 - $--footer-container-ls-height) * 0.03);
  }

  @include res(xs) {
    width: $--infobox-container-xs-width;
    // bottom: $--footer-container-xs-height;
    bottom: $--footer-container-xs-height + ((100 - $--footer-container-xs-height) * 0.03);
  }
  @include res(sm) {
    width: $--infobox-container-sm-width;
    // bottom: $--footer-container-sm-height;
    bottom: $--footer-container-sm-height + ((100 - $--footer-container-sm-height) * 0.03);
  }
  @include res(md) {
    width: $--infobox-container-md-width;
    // bottom: $--footer-container-md-height;
    bottom: $--footer-container-md-height + ((100 - $--footer-container-md-height) * 0.03);
  }
  @include res(lg) {
    width: $--infobox-container-lg-width;
    // bottom: $--footer-container-lg-height;
    bottom: $--footer-container-lg-height + ((100 - $--footer-container-lg-height) * 0.03);
  }
  @include res(xl) {
    width: $--infobox-container-xl-width;
    // bottom: $--footer-container-xl-height;
    bottom: $--footer-container-xl-height + ((100 - $--footer-container-xl-height) * 0.03);
  }

  @include e(header) {
    box-sizing: border-box;
    position: relative;
    height: 20%;
    width: 100%;
    padding: 5px;
    border-bottom: $--border-base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    i:first-child {
      margin-left: 5px;
    }
    .rp-icon-close {
      cursor: pointer;
    }
  }
  @include e(container) {

    box-sizing: border-box;
    position: relative;
    height: 80%;
    width: 100%;
    text-align:center;
    padding: 5px;
    
    .rp-infobox__table {
      font-size: $--font-size;
      color: $--font-label-color;
      font-family: $--font-family;
      border-collapse: collapse;
      margin:0px auto;
      width: 100%;
      height: 100%;
      position: relative;
      // border-right: 1px solid rgba(255, 255, 255, .3);
    }
    tr {
      width: 100%;
    }
    th {
      color: $--font-label-color;
    }
    td {
      color: $--font-content-color;
    }
    th, td{
      // border-left: 1px solid rgba(255, 255, 255, .3);
      border-top: $--border-base;
      padding: 5px;
    }

    .rp-infobox__table tr:nth-child(1) *{
      border-top: 0;
    }
  }
}
