@import "./mixins/mixins";
@import "common/var";

@include b(layout) {
  box-sizing: inherit;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
