@import "./mixins/mixins";
@import "common/var";

@include b(tree) {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  left: 2.5%;
  margin-top: 3vh;
  color: white;
  border: $--border-base; 
  box-shadow: $--box-shadow-base;
  border-radius: $--border-radius-base; 
  background:  rgba(20,62,141,0.4);
  
  @include res(ls) {
    width: $--tree-container-ls-width;
    // height: $--tree-container-ls-height;
  }

  @include res(xs) {
    width: $--tree-container-xs-width;
    // height: $--tree-container-xs-height;
  }
  @include res(sm) {
    width: $--tree-container-sm-width;
    // height: $--tree-container-sm-height;
  }
  @include res(md) {
    width: $--tree-container-md-width;
    // height: $--tree-container-md-height;
  }
  @include res(lg) {
    width: $--tree-container-lg-width;
    // height: $--tree-container-lg-height;
  }
  @include res(xl) {
    width: $--tree-container-xl-width;
    // height: $--tree-container-xl-height;
  }

  @include e(header) {
    box-sizing: border-box;
    position: relative;
    height: 15%;
    width: 100%;
    padding: 5px;
    border-bottom: $--border-base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    i:first-child {
      margin-left: 5px;
    }
    i {
      margin-top: 1%;
      margin-bottom: 1%;
    }
    .rp-icon-close {
      cursor: pointer;
    }
  }
  @include e(container) {

    box-sizing: border-box;
    position: relative;
    width: 100%;
    text-align: left;
    padding: 5px;

    h4 {
      margin-top: 2%;
      margin-bottom:  2%;
      color: white;
    }
    label {
      color: yellow;
    }
    .el-row {
      margin-top: 1%;
      margin-bottom: 1%;
    }
    .el-input__inner{
      background-color: rgba(64, 158, 255, 0.0784313725490196);
      border: 1px solid #56aad2;
      color: white;
    }

    .el-select:hover .el-input__inner {
      border-color: #67abf1;
    }
    .el-select .el-input .el-select__caret {
      color: #56aad2;
    }
    .el-input__inner::-webkit-input-placeholder {
      color: white;
    }
  }
  @include e(icon) {
    position: relative;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  @include e(title) {
    @include res(ls) {
      display: none;
    }
    @include res(xs) {
      display: none;
    }
  }
}

#body .el-select-dropdown {
  border: 1px solid #56aad2;
  background-color: rgba(64, 158, 255, 0.0784313725490196);
}
#body .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: rgba(103, 152, 226, 0.12941176470588237);
}
#body .el-select-dropdown__item {
  color: #56aad2;
}
#body .el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #56aad2;
}
#body .el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #56aad2;
}

#body .el-select-dropdown__item.hover,#body .el-select-dropdown__item:hover {
  background-color: rgba(103, 152, 226, 0.12941176470588237);
}